.form {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.input {
  width: 300px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.input:focus {
  border-color: #09501a;
}

.formBtn {
  padding: 8px 16px;
  margin-left: 8px;
  margin-top: 2px;
  color: mistyrose;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formBtn:hover {
  background-color: #555;
  color: blueviolet;
}

.formBtn:focus {
  outline: none;
}
.errorSearch {
  text-align: center;
  margin-top: 20px;
  color: darkmagenta;
  font-size: 40px;
}
